<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dark Admin by Bootstrapious.com</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Choices.js-->
  <link rel="stylesheet" href="vendor/choices.js/public/assets/styles/choices.min.css">
  <!-- Google fonts - Muli-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>
    <!-- need this variable
        ownerCompanyName
        ownerCompanyEmail
        CompanyName
        CompanyEmail
        invoiceDate
        lastDate
        paymentOption = (1 or 2 or 3)
        product
            productName
            productQuantity
            productRate
            tax
            discount
            lineTotal
        subTotal
        totalDiscount
        totalAmount
    -->
  <header class="header">
    <nav class="navbar navbar-expand-lg py-3 bg-dash-dark-2 border-bottom border-dash-dark-1 z-index-10">
      <div class="search-panel">
        <div class="search-inner d-flex align-items-center justify-content-center">
          <div class="close-btn d-flex align-items-center position-absolute top-0 end-0 me-4 mt-2 cursor-pointer">
            <span>Close </span>
            <svg class="svg-icon svg-icon-md svg-icon-heavy text-gray-700 mt-1">
              <use xlink:href="#close-1"> </use>
            </svg>
          </div>
          <div class="row w-100">
            <div class="col-lg-8 mx-auto">
              
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid d-flex align-items-center justify-content-between py-1">
        <div class="navbar-header d-flex align-items-center"><a class="navbar-brand text-uppercase text-reset"
            href="index.html">
            <div class="brand-text brand-big"><strong class="text-primary">Dark</strong><strong>Admin</strong></div>
            <div class="brand-text brand-sm"><strong class="text-primary">D</strong><strong>A</strong></div>
          </a>
          <button class="sidebar-toggle">
            <svg class="svg-icon svg-icon-sm svg-icon-heavy transform-none">
              <use xlink:href="#arrow-left-1"> </use>
            </svg>
          </button>
        </div>
        <ul class="list-inline mb-0">

          <li class="list-inline-item logout px-lg-2"> <a class="nav-link text-sm text-reset px-1 px-lg-0" id="logout"
              href="login.html"> <span class="d-none d-sm-inline-block">Logout </span>
              <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                <use xlink:href="#disable-1"> </use>
              </svg></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="d-flex align-items-stretch">
    <!-- Sidebar Navigation-->
    <nav id="sidebar">
      <!-- Sidebar Header-->
      <div class="sidebar-header d-flex align-items-center p-4"><img class="avatar shadow-0 img-fluid rounded-circle"
        src="https://avatars.githubusercontent.com/u/50829119?v=4" alt="...">
      <div class="ms-3 title">
        <h1 class="h5 mb-1">KD Singh</h1>
        <p class="text-sm text-gray-700 mb-0 lh-1">Admin</p>
      </div>
      </div><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Main</span>
      <ul class="list-unstyled">
        <li class="sidebar-item"><a class="sidebar-link" href="index.html">
            <svg class="svg-icon svg-icon-sm svg-icon-heavy">
              <use xlink:href="#real-estate-1"> </use>
            </svg><span>Home </span></a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="tables.html">
            <svg class="svg-icon svg-icon-sm svg-icon-heavy">
              <use xlink:href="#portfolio-grid-1"> </use>
            </svg><span>Invoice  </span></a></li>
        <li class="sidebar-item active"><a class="sidebar-link" href="charts.html">
            <svg class="svg-icon svg-icon-sm svg-icon-heavy">
              <use xlink:href="#sales-up-1"> </use>
            </svg><span>Generate Invoice  </span></a></li>
      </ul>
      
      
    </nav>
    <div class="page-content">
      <!-- Page Header-->
      <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
          <h2 class="h5 mb-0">Generate Invoice</h2>
        </div>
      </div>
      <!-- Breadcrumb-->
      <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 py-3 px-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Generate Invoice</li>
          </ol>
        </nav>
      </div>
      <div class="container">
        <div class="col-md-12">
           <div class="invoice">
              <!-- end invoice-company -->
              <!-- begin invoice-header -->
              <div class="invoice-header">
                 <div class="invoice-from">
                    <h3>From</h3>
                      <div class="input-material-group mb-4 invoice-input-owner-company-name">
                        <label class="label" for="owner-company-name">Company Name</label>
                        <p class="input-material" autocomplete="off" id="owner-company-name" type="text" name="ownerCompanyName" required data-validate-field="ownerCompanyName"><=% ownerCompanyName %></p>

                      </div>
                      <div class="input-material-group mb-4 invoice-input-owner-email">
                        <label class="label" for="owner-email">Email</label>
                        <p class="input-material" autocomplete="off" id="owner-email" type="number" name="ownerEmail" required data-validate-field="ownerEmail"><=% ownerCompanyEmail %></p>
                      </div>
                 </div>
                 <div class="invoice-to">
                     <h3>To</h3>
                     <div class="input-material-group mb-4 invoice-input-company-name">
                      <label class="label" for="company-name">Company Name</label>
                      <p class="input-material" autocomplete="off" id="company-name" type="number" name="companyName" required data-validate-field="companyName"><=% CompanyName %></p>
                    </div>
                    <div class="input-material-group mb-4 invoice-input-email">
                      <label class="label" for="email">Email</label>
                      <p class="input-material" autocomplete="off" id="email" type="number" name="email" required data-validate-field="email"><=% CompanyEmail %></p>
                    </div>
                 </div>
                 <div class="invoice-date-section">
                  <div class="input-material-group mb-4 invoice-input-invoice-date">
                    <label class="label" for="invoice-date">Invoice Date</label>
                    <p class="input-material" autocomplete="off" id="invoice-date" type="date" name="invoiceDate" required data-validate-field="invoiceDate"><=% invoiceDate %></p>
                  </div>
                 </div>
                 <div class="last-date-section">
                  <div class="input-material-group mb-4 invoice-input-last-date">
                    <label class="label" for="last-date">Last Date</label>
                    <p class="input-material" autocomplete="off" id="last-date" type="date" name="lastDate" required data-validate-field="lastDate"><=% lastDate %></p>
                </div>
            </div>
            
            <div class="invoice-paymentMethod">
                <h3>Payment Method</h3>
                <div class="input-material-group mb-4 invoice-input-network">
                    <label class="label" for="network">Network</label>
                    <p class="input-material" autocomplete="off" id="network" type="date" name="network" required data-validate-field="network">Ethereum</p>
                </div>
                <div class="input-material-group mb-4 invoice-input-payment-option">
                    <label class="label" for="payment-option">Payment Option</label>
                    <p class="input-material" autocomplete="off" id="payment-option" type="date" name="paymentOption" required data-validate-field="paymentOption">
                        <% if (paymentOption == 1) { %>
                                Full Advance Payment
                            <%} else if(paymentOption == 2){ %>
                                50% Advance - 50% Post work
                            <% } else if(paymentOption == 3) {%>
                                100% Post work
                            <% } %>
                    </p>
                  </div>
                 </div>
              </div>
              <!-- end invoice-header -->
              <!-- begin invoice-content -->
              <div class="invoice-content">
                 <!-- begin table-responsive -->
                 <div class="table-responsive">
                    <table class="table table-invoice">
                       <thead>
                          <tr>
                             <th>PRODUCT DESCRIPTION</th>
                             <th class="text-right" width="10%">QUANTITY</th>
                             <th class="text-right" width="10%">RATE</th>
                             <th class="text-right" width="10%">TAX (%)</th>
                             <th class="text-right" width="">DISCOUNT</th>
                             <th class="text-right" width="20%">LINE TOTAL</th>
                             <th class="text-right" width=""></th>
                          </tr>
                       </thead>
                       <tbody>
                        <% product.forEach(function(each){ %>
                        
                          <tr class="text-center field1">
                             <td>
                              <div class="input-material-group mb-4 invoice-input-product-name">
                                <p class="input-material" autocomplete="off" id="product-name1" type="text" name="productName1" placeholder="Product Name" required data-validate-field="productName1"><=% each.productName %></p>
                              </div>
                            </td>
                            <td class="text-right">
                              <div class="input-material-group mb-4 invoice-input-quantity">
                                <p class="input-material" autocomplete="off" id="quantity1" type="number" name="quantity1" placeholder="Quantity" required data-validate-field="quantity1"><=% each.quantity %></p>
                              </div>
                            </td>
                            <td class="text-right">
                               <div class="input-material-group mb-4 invoice-input-invoice-rate">
                                 <p class="input-material" autocomplete="off" id="rate1" type="number" name="rate1" placeholder="Rate" required data-validate-field="rate1"><=% each.rate %></p>
                               </div>
                               
                              </td>
                              <td class="text-right">
                               <div class="input-material-group mb-4 invoice-input-invoice-tax">
                                 <p class="input-material" autocomplete="off" id="invoice-tax1" type="number" name="invoiceTax1" placeholder="" required data-validate-field="invoiceTax1"><=% each.tax %></p>
                               </div>
                              </td>
                              <td class="text-right">
                               <div class="input-material-group mb-4 invoice-input-invoice-discount">
                                 <p class="input-material" autocomplete="off" id="invoice-discount1" type="number" name="invoiceDiscount1" placeholder="" required data-validate-field="invoiceDiscount1"><=% each.discount %></p>
                               </div>
                              </td>
                              <td class="text-right">
                               <div class="input-material-group mb-4 invoice-input-invoice-row-total">
                                 <p class="input-material" autocomplete="off" id="invoice-total1" type="number" name="invoiceTotal1" placeholder="" required data-validate-field="invoiceTotal1" disabled><=% each.total %></p>
                               </div>
                             </td>
                          </tr>
                        <% }) %>
                       </tbody>
                    </table>
                 </div>
                 <!-- end table-responsive -->
                 <!-- begin invoice-price -->
                 <div class="invoice-price">
                    <div class="invoice-price-left">
                       <div class="invoice-price-row">
                          <div class="sub-price">
                             <small>SUBTOTAL (With TAX)</small>
                             <span class="text-inverse">$<=% subTotal %></span>
                          </div>
                          <div class="sub-price">
                             <i class="fa fa-minus text-muted"></i>
                          </div>
                          <div class="sub-price">
                             <small>Discount </small>
                             <span class="text-inverse">$<=% totalDiscount %></span>
                          </div>
                       </div>
                    </div>
                    <div class="invoice-price-right">
                       <small>TOTAL</small> <span class="f-w-600">$<=% totalAmount %></span>
                    </div>
                 </div>
                 <!-- end invoice-price -->
              </div>
              <!-- end invoice-content -->
              <!-- begin invoice-note -->
              <button class="btn">
                <i class="fa fa-save text-muted" style="font-size:25px;color:white;" aria-hidden="true"></i>
                <span class="">Save</span>
              </button>
              <!-- end invoice-note -->
              <!-- begin invoice-footer -->
              
              <!-- end invoice-footer -->
           </div>
        </div>
     </div>
     <!-- Page Footer-->
     <footer class="position-absolute bottom-0 bg-dash-dark-2 text-white text-center py-3 w-100 text-xs" id="footer">
      <div class="container-fluid text-center">
        <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        <p class="mb-0 text-dash-gray">2022 &copy; A hacking team from, <a
            href="https://github.com/kdsinghcoder">VIT Vellore</a>.</p>
      </div>
    </footer>
    </div>
  </div>
  <!-- JavaScript files-->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/just-validate/js/just-validate.min.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
  <script src="js/charts-custom.js"></script>
  <!-- Main File-->
  <script src="js/front.js"></script>
  <script>
    // ------------------------------------------------------- //
    //   Inject SVG Sprite - 
    //   see more here 
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite(path) { 

      var ajax = new XMLHttpRequest();
      ajax.open("GET", path, true);
      ajax.send();
      ajax.onload = function (e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    }
    // this is set to BootstrapTemple website as you cannot 
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');


  </script>
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>